<div class="container">
	<h1>About me</h1>

<div class="footer">
	<div id="my-footer">
		<h2>Follow Me</h2>
		<ul class="list-inline">
		  <li><a href="https://github.com/annemarie35" class="icones"><i class="fa fa-github"></i></a></li>
		  <li><a href="#" class="icones"><i class="fa fa-facebook"></i></a></li>
		  <li><a href="https://twitter.com/LoozBonita" class="icones"><i class="fa fa-twitter"></i></a></li>
		  <li><a href="#" class="icones"><i class="fa fa-instagram" ></i></a></li>

		</ul>
	</div>
</div>

</li>