<div class="container">
	<h1>Contact me</h1>
	<p>Pour nous contacter, N'hesitez pas à nous envoyez nous un message via ce formulaire </p>
	<p>Merci pour votre visite à bientot !</p>
	<p> Attention, formulaire à terminer !!!</p>

	<form action='/contact' method="post">
		<label placeholder="Nom">Votre Nom</label><br>
		<input type="text" name="name"> <br>
		<label placeholder="Mail"> Votre Mail</label> <br>
		<input type="text" name="email"><br>
		<label placeholder="Object"> Objet</label> <br>
		<input type="text" name="objet"><br>
		<label placeholder="Message">Votre message</label><br>
		<textarea name="message" rows="10" cols="50"> </textarea> <br>
		<input type="submit" value="Envoyer">
	</form>
<div>

