<h1>Fizz Buzz <%= @name %> !</h1>

<form action="/fizzbuzz" method="post">
  <label>
    Proposer un chiffre
    <input type="number" name="chiffre" />
  </label>
  <input type="submit"/>
</form>

<p>
<%= @result %>
</p>


