<div class="container">
	<h1>Welcome ! <%= @name %> !</h1>
		<div class = "row">
			<p>Vous trouverez sur ce site quelques programmes travaillés lors d'exercices de programmation en kata.	</p>
			<a href="https://github.com/annemarie35/sinatra_fizzbuzz_TDD/blob/master/README.md">ReadMe</a>

			<h3>Technos :</h3>
			<br>
			<ul>
			<li> Sinatra
			<li> Ruby
			<li> TDD with Rspec
			<li> Github
			<li> Boostrap

		</div>


</div>
