<div class="container">
	<h1>Ajouter une nouvelle issue</h1>
	<p>Pour nous contacter, N'hesitez pas à nous envoyez nous un message via ce formulaire </p>
	
		<form action='/road_map' method="post">
		<label placeholder="Title">Titre de l'issue</label><br>
		<input type="text" name="title"> <br>

		<label placeholder="Date"> Date</label> <br>
		<input type="date" name="date"><br>

		<label placeholder="Note">Décrivez l'issue</label><br>
		<textarea name="issue" rows="10" cols="50"> </textarea> <br>

		<input type="submit" value="Envoyer">
	</form>
<div>

<div class="row">
	<i class="fa fa-quote-left fa-3x pull-left fa-border"><h1><%= @result %></h1></i>
</div>
