<!DOCTYPE html>
<html>
  <head>
    <title>Fizz Buzz</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
  </head>
  <body>
  	<div><a href="/index">Index</a></div>
  	<div><a href="/about">A propos</a></div>
  	<div><a href="/fizzbuzz">FizzBuzz</a></div>
  	<div><a href="/roman_to_nb">Roman To Number</a></div>

    <%= yield %>
  </body>
</html>

