<!DOCTYPE html>
<html>
  <head>
    <title>Fizz Buzz</title>
    <link rel="stylesheet" type="text/css" href="/fizzbuzz.css"/>
  </head>
  <body>
  	<div><a href="/about">A propos</a></div>
    <%= yield %>
  </body>
</html>

