<!DOCTYPE html>
<html>
  <head>
    <title>Fizz Buzz</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

      <!--Google Web Fonts-->
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:700' rel='stylesheet' type='text/css'>  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  </head>
  <body>
  <div class="container">
  	<ul class="list-inline">
    <li><a class="btn" href="/index">Index</a></li>
  	<li><a href="/about">A propos</a></li>
  	<li><a href="/fizzbuzz">FizzBuzz</a></li>
  	<li><a href="/roman_to_nb">Roman To Number</a></li>
    </ul>
  </div>

    <%= yield %>

     <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </body>
</html>

