<div class="container">
	<h1>Feuille de route du projet</h1>

<table class="table">
   <caption>Feuille de route</caption>
   <thead>
      <tr>
         <th>Date</th>
         <th>Pistes</th>
      </tr>
   </thead>
   <tbody>
<tr>
         <td>13/01</td>
         <td>--> créer un formulaire pour ajouter des issues ici-même </td>
      </tr>
      <tr>
         <td>8/01</td>
         <td>J'ai fait la mise en place de Garros; continuer</td>
      </tr>
      <tr>
         <td>8/01</td>
         <td>Voir comment on fait un formulaire d'envoi de message sous sinatra</td>
      </tr>
      <tr>
         <td>8/01</td>
         <td>J'ai fait la mise en place de Garros; continuer</td>
      </tr>
      <tr>
      <td>08/01</td>
      <td>refactoriser</td>
      </tr>
   </tbody>
</table>

<table class="table">
   <caption>TO DO</caption>
   <thead>
      <tr>
         <th>Date</th>
         <th>Pistes</th>
      </tr>
   </thead>
   <tbody>
      <tr>
      <td></td>
      <td>ajouter un nouveau test pour roman to number, message d'erreur si on propose un chiffre ou si on propose une lettre qui n'existe pas, tester la gem https://github.com/lyokato/sinatra-formkeeper</td>
         <td>8/01</td>
         <td>Voir comment on fait un formulaire d'envoi de message sous sinatra</td>
      </tr>
      <tr>
         <td>8/01</td>
         <td>J'ai fait la mise en place de Garros</td>
      </tr>
   </tbody>
</table>

<table class="table">
   <caption>PISTE D'AMELIORATION/EXERCICES</caption>
   <thead>
      <tr>
         <th>Date</th>
         <th>Pistes</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>6/01</td>
         <td>Créer un script de déployement pour heroku</td>
      </tr>
      <tr>
         <td>29/12</td>
         <td>passer en haml ?</td>
       </tr>
       <tr>
         <td>08/01</td>
         <td>il existe une gem pour utiliser bootstrap <a href="http://rubygems.org/gems/sinatra-twitter-bootstrap"> lien</a> + suivre le tuto du wagon <a href="http://workshops.lewagon.org/workshops/frontend-design/index.html#/3"> lien </a> + <a href="https://github.com/ghostandthemachine/sinatra-haml-bootstrap-fluid">https://github.com/ghostandthemachine/sinatra-haml-bootstrap-fluid</a>a></td>
       </tr>
      </tr>
   </tbody>
</table>
</div>
