<div class="container">
	<h1>Feuille de route du projet</h1>
	<ul>
	<li> il existe une gem pour utiliser bootstrap <a href="http://rubygems.org/gems/sinatra-twitter-bootstrap"> lien</a></li>
	<li> suivre le tuto du wagon <a href="http://workshops.lewagon.org/workshops/frontend-design/index.html#/3"> lien </a></li>
	<li> passer en haml ? Puma au lieu de shotgun ?</li>
	<li>https://github.com/ghostandthemachine/sinatra-haml-bootstrap-fluid</li>

	<li>29/12 : j'ai essayé de déployer sur heroku, du coup, il manquait des fichiers genre le Procfile...</li>
	<li>Mettre à jour le readme !</li>
	<li>Créer un script de déployement pour heroku</li>
	</ul>

<table>
<tr>
<th>suggestion</th><th>etat</th>
</tr>
<tr>
<td>exemple</td><td>effectué</td>

</tr>
</table>

</div>