<div class="container">
	<div class="row">
		<h1>Roman to Number <%= @name %> !</h1>
		<p>Le but de ce programme est de transformer un chiffre romain en chiffre arabe.</p>
		<p>	Par exemple, vous proposez "VII", le programme vous renvoie le chiffre 7.</p>
		<p>Rappel sur la numérotation romaine <a href="https://fr.wikipedia.org/wiki/Num%C3%A9ration_romaine"> sur wikipedia</a>
		
	</div>

	<div class="row">

		<form action="/roman_to_nb" method="post">
			<div class="form-group">
		  
			  <label>
			    Entrez un chiffre romain
			    <input type="text" name="roman" />
			  </label>
			  <input type="submit" value="Validez" class="btn btn-primary"/>
			</div>

		</form>
	</div>

	<div class="row">


		<i class="fa fa-quote-left fa-3x pull-left fa-border"><h1><%= @result %></h1></i>
	</div>

	<div class="row">
		Nb : See the source at <a href="https://github.com/annemarie35/sinatra_fizzbuzz_TDD">https://github.com/annemarie35/sinatra_fizzbuzz_TDD</a>
	</div>

</div>